textarea
{
    border-top:1px solid #7898b8;
    border-left:1px solid #7898b8;
    border-right:1px solid #7898b8;
    border-bottom:1px solid #7898b8;
	padding:2px;
	color:#339900;
}
input 
{
	font-size: 12px; 
	font-family: "Verdana","Arial","Helvetica","sans-serif","ו",simsun;
}